@import "parciales/reset";
@import "parciales/variables";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

    
        
body{ 
    background-image: url(../media/fondo.jpg);
        }
        
.CarouCards{
    max-width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    
}
        
.contact{
    display: flex;
    text-transform: uppercase;
    margin-left: 45%;
}
        
        
        
        
        
        
        
       
        
        
        
        
        
    








    .Redes {
        li{
            padding: 15px;
            display: inline-block;
            a{
                text-decoration: none;
                color: #fafafa;
            }
        }
    }


    /* MIS MEDIAQUERIES */
    
    
    /* tablet */
    @media screen and (max-width: 1100px) {
        
    }
     /* phone horizontal */
     @media screen and (max-width: 768px) {
        
    }
     /* phone vertical */
     @media screen and (max-width: 576px) {
         
     }